<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div><a href="" class="navbar-brand">SaTyr</a></div>
  </nav>
</header>

<div class="container" style="text-align:center">
  <h1>
    App para Cambiar Moneda
  </h1>  
</div>

<div class="container" style="width: 50%;">
  <div class="row align-items-center">
    <div class="col"><button routerLink="/cambiarMoneda" class="btn btn-success">Cambiar Moneda</button></div>
    <div class="col"><button routerLink="/actualizarTipoCambio" class="btn btn-success">Actualizar Tipo Cambio</button></div>
  </div>
</div>

<router-outlet></router-outlet>
